@page
@model Who_What_Form_.Pages_Actors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Fname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Fname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Lname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Lname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Film)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Film.FilmID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Actor.ActorID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
