@page
@model Who_What_Form_.Pages_Actors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Actor[0].Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor[0].Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor[0].Film)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Actor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film.FilmID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ActorID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ActorID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ActorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
