@page
@model Who_What_Form_.Pages_Films.IndexModel
@using System.Linq
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Welcome to the Watchlist</h1>
<a asp-page="Create"><button type="button" class="btn btn-outline-secondary btn-sm">Add New Film</button></a>

<div class="container">
    @foreach (var  f in Model.Film)
    {
        double reviewAvg = f.Reviews.Average(r => r.Score);
        double reviewCnt = f.Reviews.Count;

        <div class="row">
            <div class="col-2">
                <img src="@f.ImageUrl" class="img-fluid" width="250"  />
            </div>
            <div class="col-10">
                <h3>@f.Title</h3>
                <div class="btn-group mt-2">@*https://www.w3schools.com/bootstrap5/tryit.asp?filename=trybs_button_group_inline&stacked=h*@
                        <a asp-page="./Edit" asp-route-id="@f.FilmID" class="btn btn-outline-secondary btn-sm">Edit</a>
                        <a asp-page="./Details" asp-route-id="@f.FilmID" class="btn btn-outline-secondary btn-sm">Details</a>
                        <a asp-page="./Delete" asp-route-id="@f.FilmID" class="btn btn-outline-danger btn-sm">Delete</a>
                </div>
                    <p>
                        <span>@String.Format("{0:F1}", reviewAvg) </span>
                    @for(var i = 1; i <= 5; i++)
                    {
                        if(reviewAvg >= i)
                        {
                            <i class="bi bi-star-fill" style="color: gold;"></i>
                        }
                        else if (reviewAvg > i - 1 && reviewAvg < i)
                        {
                            <i class="bi bi-star-half" style="color: gold;"></i>
                        }
                        else
                        {
                            <i class="bi bi-star"></i>
                        }
                    }
                    <span>@reviewCnt reviews</span>
                    </p>
                    <p class="fs-5">@f.Description</p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="@("#reviews" + @f.FilmID)">Show Reviews</button>
                    <div class="collapse" id="@("reviews" + @f.FilmID)">
                    @foreach (var r in f.Reviews)
                    {
                        <p class="p-2">@r.ReviewText<strong> Score: @r.Score / 5</strong></p>
                        <hr class="my-0">
                    }
                    </div>
            </div>
        </div>
        <hr class="my-4" />
    }
</div>
